/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("../src/main/resources/images/Pharmacy-wallpaper-HD53.jpg");
    background-position: center;
    background-size: cover;
}
/* Ajoutez un style pour la classe de flou pour la sidebar */
.blurred-sidebar {
    filter: blur(5px); /* Ajustez la quantité de flou selon vos préférences */
    pointer-events: none; /* Rend la sidebar non interactive (non cliquable) */
}

/* Ajoutez un style pour la classe visible pour la sidebar */
.visible-sidebar {
    pointer-events: auto; /* Rend la sidebar à nouveau interactive */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(10px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
}

.sidebar:hover {
    width: 260px;
}

.sidebar .logo {
    color: #000;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo img {
    width: 45px;
    border-radius: 50%;
}

.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
}

.sidebar:hover .logo h2 {
    display: block;
}

.sidebar .links {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.links li:hover {
    cursor: pointer;
    background: #fff;
}

.links h4 {
    color: #222;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
}

.sidebar:hover .links h4 {
    display: block;
}

.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}

.sidebar:hover .links hr {
    border-color: transparent;
}

.links li span {
    padding: 12px 10px;
}

.links li a {
    padding: 10px;
    color: #000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li a {
    display: block;
}

.links .logout-link {
    margin-top: 20px;
}
/* ================================== GESTION LOGIN ==================================================================*/


.sectionLogin {
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 400px;
    border: 1px solid black;
    border-radius: 6px;
    overflow: hidden;
    transition: background-color 0.5s ease;
}

.sectionLogin::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../src/main/resources/images/Pharmacy-wallpaper-HD53.jpg");
    background-size: cover;
    filter: blur(20px);
    z-index: -1;
}
h2 {
    font-size: xx-large;
    color: #2fa22f;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
fieldset {
    width: 90%;
    margin-left: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
}
legend {
    margin-left: 10px;
    color: #9a9a9a;
    font-size: small;
}

input {
    border: none;
    outline: none;
    padding: 5px;
    margin-bottom: 10px;
    background-color: transparent;
    z-index: 2;
    color: #fff;
}

input::placeholder {
    color: #fff;
}

button {
    display: block;
    cursor: pointer;
    height: 30px;
    width: 60%;
    margin: auto;
    background-color: #3bea3b;
    color: #fff;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2fa22f;
}

.hidden {
    display: none;
}
a {
    display: block;
    transition: color 0.3s, font-size 0.3s; /* Animation de la couleur et de la taille de police */
}
#acceptation {
    margin-left: 10px;
}
#mdp {
    margin: 10px 0 10px 10px;
    padding-bottom: 7px;
}
#valider {
    margin-top: 70px;
    margin-bottom: 30px;
}
#inscription {
    text-align: center;
}
#souscrireBtn,
#envoyerBtn {
    margin-top: 20px;
    margin-bottom: 15px;
}
#retourOublie {
    text-align: center;
}
a:hover {
    color: #fff; /* Couleur du texte lors du survol */
    font-size: 102%; /* Taille de police augmentée lors du survol */
}

#adresse {
    width: 250px;
}
#resultsDropdown {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    max-height: 250px;
    overflow-y: auto;
}

#resultsDropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    background-color: #f9f9f9;
    cursor: pointer;
}
